/* Larger than mobile */
@media (min-width: 350px) {
  .hourly-forecast-container {
    min-width: 100%;
    max-width: 100%;

    /* Position children */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: min-content;
    overflow: hidden;
    height: 100%;
  }

  .shrink-hourly-forecast-container {
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-name: decreaseHeight; 
  }
  @keyframes decreaseHeight {
    0% {height: 90%;} 
    25% {height: 75%;} 
    50% {height: 50%;} 
    75% {height: 25%;} 
    100% {height: 7.5rem;} 
  }

  #hourly-forecast-header-container {
    min-width: 95%;
    height: min-content;
    /* Position the children */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Style text for children */
    font-size: 2rem;
    font-weight: bolder;
    color: white;
  }

  #hourly-forecast-header-title-container {
    height: 100%;
    width: 50%;
    max-width: 50%;
    min-width: 30%;
    /* Position children */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: inherit;
    font-weight: inherit;
  }

  #hourly-forecast-header-button-container {
    height: 100%;
    width: 50%;
    min-width: 45%;
    max-width: 50%;
    /* Position children */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }

  #hourly-forecast-header-button {
    border: none;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0 0 0 10px;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-transform: lowercase;
  }

  #hourly-forecast-body-container {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    gap: 10px;
  }

  .remove-hourly-forecast {
    animation-duration: 10s;
    animation-fill-mode: forwards;
    /* animation-name: shiftBack;  */
  }
  @keyframes shiftBack {
    0% {
      visibility: hidden !important;
      /* position: relative; */
      /* z-index: -1; */
      height: 90%;
    }
    25% {height: 50%}
    50% {height: 10%}
    75% {height: 0%}
    100% {
      height: 0%;
      position: absolute;
      z-index: -1;
    }    
  }

  /* This is used to hide the "Today" text in the hourly forecast container */
  .hide {
    visibility: hidden;
  }

  /* Used to remove the hourly forecast when the 7day forecast is rendered */
  .remove {
    /* display: none !important; */
  }


  .hourly-forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* color: #535D6C; */
    color: #9da6b4;
    border: 1px solid #535D6C;
    border-radius: 3.5rem;
    padding: 2rem 0;
    min-width: 90px;
    height: 88%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .hourly-forecast-card#now {
    height: 95%;
    min-width: 100px;
    border: none;
    box-shadow: 0px 0px 11px 2px #1584EA;
    background-image: linear-gradient(#299FDF 60%, #1584EA 90%);
    padding: 20px 0;
    /* font-size: 2rem; */
    font-weight: bold;
  }
  .hourly-forecast-card#now > img {
    width: 70%;
  }

  .hourly-forecast-card > img {
    width: 50%;
  }

  .hourly-forecast-card > .rain-percentage {
    font-size: 1.2rem;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .hourly-forecast-container {
    border-radius: 1rem;
  }
}