/* Larger than mobile */
@media (min-width: 350px) {
  .forecast-container {
    height: 0;
    padding: 1px 0;
    width: 95%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-name: slideUp; 
  }

  @keyframes slideUp {
    from {
      height: 0;
    }
  
    to {
      height: 100%;
    }
  }

  .forecast-card {
    width: 100%;
    justify-content: space-evenly;
    font-weight: bolder;
  }

  .forecast-card > .weekday {
    color: white;
    font-size: 2rem;
    width: 50px;
  }

  .remove {
    display: none;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .forecast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .remove {
    display: none;
  }
}