/* Larger than mobile */
@media (min-width: 350px) {
  .forecast-container {
    width: 95%;
    height: 100%;
    /* margin: 15px auto; */
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
  }

  .forecast-card {
    width: 100%;
    justify-content: space-evenly;
    font-weight: bolder;
  }

  .forecast-card > .weekday {
    color: white;
    font-size: 2rem;
    width: 50px;
  }

  .remove {
    display: none;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .forecast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}