* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #00031C;
}

#root{
  min-width: 100%;
  min-height: 100%;
  --main-bg-color: #F8FFE5;
  --main-card-color: #1E2D24 ;
  --temp-color-cold: #0af;
  --temp-color-warm: #f09800;
  --temp-color-hot: #f00000 ;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-no-wrap{
  flex-wrap: nowrap;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-even {
  justify-content: space-evenly;
}

.flex-align-center {
  align-items: center;
}

.debug {
  border: 2px solid red;
}

.m-0 {
  margin: 0;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

/* this is the main temp under the city name */
#main-temp {
  font-size: 9rem;
}

.temp-color-1 { /* -10 - 40 */
  color: #1AADFF;
}

.temp-color-2 { /* 40 - 49 */
  color: #1782FF;
}

.temp-color-3 { /* 50 - 59 */
  color: #3317D9;
}

.temp-color-4 { /* 60 - 69 */
  color: #7439A4;
}
.temp-color-5 { /* 70 - 79 */
  color: #CE6752;
}

.temp-color-6 { /* 80 - 89 */
  color: #FF6E04;
}

.temp-color-7 { /* 90 - 99 */
  color: #FF4705;
}

.temp-color-8 { /* 100 - 119*/
  color: #FF0101;
}


/* Larger than mobile */
@media (min-width: 350px) {
  body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .container{ /* root container for the app */
    width: 100%;
    height: 100%;
    /* Position children */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .error-message-container {
    padding: 10px;
  }

  #error-message-text {
    color: white;
    font-size: 3rem;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}